<br>
<br>
<br>
<br>
<footer class="w3-container gdc-color-tonic gdc-footer" style="position: fixed;bottom: 0;width:100%;">
    <div>Images par Sparfell // gdc-server: <a href="https://github.com/Tanin69/gdc-server">https://github.com/Tanin69/gdc-server</a> // Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></a></div>
</footer>