<script>
  function showHide(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else { 
      x.className = x.className.replace(" w3-show", "");
    }
  }
</script>

<div class="w3-bar w3-top w3-card-2 gdc-color-tonic">
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-left w3-hide-large w3-hide-medium" onclick="showHide('navbarMenus')">&#9776;</a>
    <a href="/" class="w3-bar-item w3-button">Home</a>
    <a href="/missions" class="w3-bar-item w3-button w3-hide-small">Missions</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small">Link 2</a>
    <a href="/about" class="w3-bar-item w3-button w3-hide-small">Link 3</a>
</div>
<div id="navbarMenus" class="w3-bar-block w3-hide w3-hide-large w3-hide-medium gdc-color-tonic">
    <a href="/" class="w3-bar-item w3-button">Home</a>
    <a href="/missions" class="w3-bar-item w3-button">Missions</a>
    <a href="#" class="w3-bar-item w3-button">Link 2</a>
    <a href="/about" class="w3-bar-item w3-button">Link 3</a>
</div>
<br><br>