/api/node_modules
/api/package-lock.json
/api/.env
.jsdoc.conf
.env
/api/public/img/brf
/web-client/node_modules
/web-client/package-lock.json
/web-client/.env
upload
.markdownlint.json
.vscode
gdc-toolbox.code-workspace