<!DOCTYPE html lang="fr">
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>gdc-server</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bangers&display=swap">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        

    </head>
    <body class="gdc-color-dark">
        {{> header}}
        {{{body}}}
        {{> footer}}
    
    </body>
</html>