.dropzone {
border: dashed 3px #bd5734;
border-radius: 30px;
background-color: #a79e84;
opacity: 0.75;
min-height: 400px;
min-width: 400px;
}

.dropzone .dz-preview .dz-error-message:after {
    left: 30px;     /* move the tooltip's arrow to the left of the "Remove" link */
    top: -18px;
    border-bottom-width: 18px;
}