<body>

  <style>
    body {
    background-image: url("/img/addMission.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center center;  
    }
  </style>

  {{> header}}

  <!--dropzone js component-->
  <link rel="stylesheet" href="/css/dz/dropzone.css">
  <link rel="stylesheet" href="/css/dz/basic.css">
  <link rel="stylesheet" href="/css/dz/dz-local.css">
  <script src="/javascript/dropzone/dropzone.js"></script>
  <!--client side js-->
  <script src="/javascript/addMission.js"></script>

  <!--Dropzone-->
  <div class="w3-container w3-padding w3-display-middle">
    <form action="/mission/add/check" method="POST" class="dropzone" id="myDZ">
      <div class="dz-message w3-display-middle "><i class="fas fa-file-upload" style="font-size:100px;color:#bd5734"></i><br><br>
      <span class="w3-large" style="color:#bd5734">Pbo dropzone here !<br>(or click to choose a file)</span></div>
    </form>
    <span id="clear-dropzone" class="w3-btn w3-round w3-block w3-opacity gdc-color-tonic" onClick="resetPage()">Clear Dropzone</span>
  </div>

  <!--Publication success message pannel-->
  <div id="msgOK" class="w3-panel w3-green w3-border w3-hide w3-animate-top">
    <p>La mission a été publiée</p>
  </div> 

  <!--Publication error message pannel-->
  <div id="msgError" class="w3-panel w3-red w3-border w3-hide w3-animate-top">
    <p>Erreur ! La mission n'a pas été publiée (<span id="errMsg"></span></p>
  </div>  

  <!--Modal pannel on mission check success-->
  <div id="modalSuccess" class="w3-modal"  style="z-index: 1500">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom w3-khaki">
      <header class="w3-container w3-green"> 
        <h3>C'est en bonne voie !</h3>
        <span class="w3-button w3-xlarge w3-display-topright" onclick="document.getElementById('modalSuccess').style.display='none'">&times;</span>
      </header>
      <table class="w3-table" id="msgSuccessContent">
        <tr>
          <td class="w3-text-grey" style="width: 25%">Titre</td>
          <td id="missionTitle" class="w3-text-black w3-large" style="font-weight: bold"></td>
        </tr>
        <tr>
          <td class="w3-text-grey">Version</td>
          <td id="missionVersion" class="w3-text-black"></td>    
        </tr>
        <tr>
          <td class="w3-text-grey">Carte</td>
          <td id="missionMap" class="w3-text-black"></td>
        </tr>
        <tr>
          <td class="w3-text-grey">Auteur</td>
          <td id="author" class="w3-text-black"></td>
        </tr>
        <tr>
          <td class="w3-text-grey">Type de jeu</td>
          <td id="gameType" class="w3-text-black"></td>
        </tr>
        <tr>
          <td class="w3-text-grey">Texte lobby</td>
          <td id="overviewText" class="w3-text-black"></td>
        </tr>
        <tr>
          <td class="w3-text-grey">Nombre de joueurs mini</td>
          <td id="minPlayers" class="w3-text-black"></td>
        </tr>
        <tr>
          <td class="w3-text-grey">Nombre de joueurs maxi</td>
          <td id="maxPlayers" class="w3-text-black"></td>
        </tr>
      </table>
      <br>
      <button onclick="showHide('missionTechInfos')" class="w3-button w3-block w3-left-align w3-khaki">Informations techniques&nbsp;&hellip;</button>
      <table id="missionTechInfos" class="w3-hide w3-table">
        <tr>
          <td class="w3-text-grey" style="width: 25%">Nom du PBO</td>
          <td id="missionPbo" class="w3-text-black"></td>
        </tr>
        <tr>  
          <td class="w3-text-grey">Date de l'upload</td>
          <td id="pboFileDateM" class="w3-text-black"></td>
        </tr> 
        <tr>  
          <td class="w3-text-grey">Taille (octets)</td>
          <td id="pboFileSize" class="w3-text-black"></td>
        </tr>
        <tr>
          <td class="w3-text-grey">Titre de chargement</td>
          <td id="onLoadName" class="w3-text-black"></td>
        </tr>
        <tr>
          <td class="w3-text-grey">Texte de chargement</td>
          <td id="onLoadMission" class="w3-text-black"></td>
        </tr>
        <tr>
          <td class="w3-text-grey">Image de chargement</td>
          <td id="loadScreen" class="w3-text-black"></td>
        </tr>
      </table>
      <br>
      <footer class="w3-container w3-padding w3-khaki">
        <button class="w3-button w3-left w3-round w3-white w3-border" onclick="document.getElementById('modalSuccess').style.display='none';resetPage()">Annuler</button>
        <button class="w3-button w3-right w3-round w3-white w3-border" onclick="publishMission()">Publier la mission&nbsp;<i class="fas fa-check"></i></button>
      </footer>
    </div>

  </div>

  <!--Modal pannel on mission check failure-->
  <div id="modalFailure" class="w3-modal" style="z-index: 1500">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom">
      <header class="w3-container w3-red">
        <h3 id="msgHead">Oh non, c'est un échec</h3>
        <span onclick="document.getElementById('modalFailure').style.display='none'"
        class="w3-button w3-xlarge w3-display-topright">&times;</span>
      </header>
      <ul id="msgFailContent" class="w3-ul">
      </ul>
      <footer class="w3-container w3-light-grey w3-padding">
        <button class="w3-button w3-block w3-round w3-white w3-border" onclick="document.getElementById('modalFailure').style.display='none';resetPage('msgFailContent')">Annuler</button>
      </footer>
    </div>
  </div>

  {{> footer}}   
</body>