<body>

    <style>
    body {
        background-image: url("/img/home.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position:center center;  
    }
    </style>

    {{> header}}
        <div class="w3-card-4 w3-padding w3-opacity w3-sand w3-display-middle">
        <div style="text-align: center;"><h1>Boîte à outils Grèce de canards (dev)</h1></div>
    </div>
    {{> footer}}   
</body>