<body>

    <style>
    body {
        background-image: url("/img/missions-add-background.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position:center center;  
    }
    </style>

    {{> header}}
    <h1>Serveur grèce de canards</h1>
    {{> footer}}   
</body>