<body>
    <style>
    body {
      background-image: url("/img/listMissions.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position:center center;  
    }
  </style>
  
  {{> header}}

    <h1>Liste</h1>
    <h2>{{ subtitle }}</h2>

    <div id="missionsList" class="w3-container w3-opacity-min"></div>

    <link rel="stylesheet" href="https://unpkg.com/tabulator-tables@4.5.3/dist/css/tabulator.min.css" >
    <script src="https://unpkg.com/tabulator-tables@4.5.3/dist/js/tabulator.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>
    <script src="/javascript/listMissions.js"></script>  

  {{> footer}}   
</body>