<!DOCTYPE html lang="fr">
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Embed (disord flavor)-->
        {{> embed}}
        <title>gdc-toolbox</title>
        <!--External style sheets, icon, fonts, etc-->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bangers&display=swap">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        <!--Internal css-->
        <link rel="stylesheet" href="/css/style.css">
        <!--Internal javascript-->
        <script src="/javascript/utils.js"></script>     
    </head>
    
    {{{body}}}

</html>