<body>

    <style>
    body {
        background-image: url("/img/error.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position:center center;  
    }
    </style>

    {{> header}}
    <div class="w3-card-4 w3-padding w3-opacity w3-sand w3-display-middle">
        <div style="text-align: center;"><img src="/img/err.png" style="  max-width: 20%;height: auto;"></div>
        <div style="text-align: center;"><h1>{{ appErrMsg }}</h1></div>
        <div style="text-align: center;"><p>C'est sûrement de la faute de tanin...</p></div>
        <div style="text-align: center;"><p>Mais comme disait Raoul (d'après Sparfell) : "Il n’y a pas de fautes, il n’y a que des erreurs, et les erreurs se corrigent."</p></div>
    </div>
    {{> footer}}
</body>

<!--
Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
-->