<body>

    <style>
    body {
        background-image: url("/img/home.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position:center center;  
    }
    </style>

    {{> header}}

    {{> pageTitle}}
    
    <div class="w3-row-padding w3-padding-16 w3-display-middle">
        
        <div class="w3-half w3-center">
            <a href="/mission" style="text-decoration: none">
                <div class="w3-container w3-round-large gdc-color-tonic w3-padding w3-hover-sepia" style="width: 70%; opacity: 0.9" href="/missions">
                    <br class="w3-hide-small">
                    <br class="w3-hide-small">
                    <img class="w3-hide-small" src="/img/list_missions.png" alt="List missions" style="width:50%">
                    <br class="w3-hide-small">
                    <br>
                    <h3 class="w3-hide-small">Liste des missions</h3>
                    <p class="w3-hide-large w3-hide-medium">Liste des missions</p>
                    <br class="w3-hide-small">
                </div>
            </a>
        </div>
        
        <div class="w3-half w3-center">
            <a href="/mission/publish" style="text-decoration: none">
                <div class="w3-container w3-round-large gdc-color-tonic w3-padding w3-hover-sepia" style="width: 70%; opacity: 0.9">
                    <br class="w3-hide-small">
                    <br class="w3-hide-small">
                    <img class="w3-hide-small" src="/img/publish_mission.png" alt="Publish mission" style="width:50%">
                    <br class="w3-hide-small">
                    <br>
                    <h3 class="w3-hide-small">Publier une mission</h3>
                    <p class="w3-hide-large w3-hide-medium">Publier une mission</p>
                    <br class="w3-hide-small">
                </div>
            </a>
        </div>
    
    </div>
    {{> footer}}   
</body>