/* Palette de couleurs */

.gdc-color-dark {
	color: #fff !important;
	background: #454140 !important;
}

.gdc-color-light {
	color: rgb(0, 0, 0) !important;
	background: #a79e84 !important;
}

.gdc-color-tonic {
	color: rgb(0, 0, 0) !important;
	background: #bd5734 !important;
}

/* body */

body {
	font-family: comfortaa, sans-serif;
	height: 755px;
	background: #454140;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
}
